@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Nunito&family=Oswald:wght@400;500&display=swap");
.detailsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.detailsContainer2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #ffc107;
}

p {
  font-family: Inter;
  color: white;
}

.title {
  font-weight: 800;
  font-size: 30px;
}

.Columns {
  max-width: 425px;
  margin: 1rem;
}

.Columns2 {
  /* max-width: 425px; */
  width: 100%;
  margin: 1rem;
}

.image {
  border-radius: 10px;
  max-height: 300px;
}

.image2 {
  border-radius: 10px;
  max-height: 300px;
  max-width: 300px;
}

.list {
  display: inline-flex;
}

.listItem {
  margin: 0 12.5px;
}

.listItem1 {
  margin-right: 12.5px;
}
