.navcontainer {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
  margin-bottom: 2rem;
}

.navLinks {
  display: flex;
}

.direc {
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 5px;
}

.input {
  width: 250px;
}
